In [1]:
%load_ext autoreload
%autoreload 2

In [11]:
import gym
from gym import spaces
import numpy as np
import pandas as pd
# add our custom modules
import sys
sys.path.append("../src") # go to parent dir
from microgrid_env import MicrogridEnv

In [13]:
env_df = pd.read_csv("../data/cropped.csv")

In [14]:
env_df

      Wind Speed  Solar Irradiance  ...  warehouse 1  small hotel 1
0         45.900            0.1592  ...    16.696428      41.094081
1         46.872            0.0850  ...    17.220737      35.364626
2         47.340            0.0000  ...    16.837994      34.643026
3         40.608            0.0000  ...    17.380582      35.939681
4         42.732            0.0000  ...    16.934718      40.016787
...          ...               ...  ...          ...            ...
4314       6.480           67.7188  ...    15.415824     134.813247
4315       9.036            0.9450  ...    15.415824     127.089200
4316       9.828            0.0695  ...    15.415824      96.408565
4317       2.592            0.1174  ...    15.415824      69.564282
4318       2.592            0.0857  ...    15.415824      60.330017

[4319 rows x 5 columns]

In [32]:
env = MicrogridEnv(env_df)

In [35]:
env.action_space.seed(42)
observation, info = env.reset(seed=42)

for _ in range(10000):
    action = env.action_space.sample() # TODO: this should probably come from our model
    observation, reward, terminated, truncated, info = env.step(action)

    if terminated or truncated:
        observation, info = env.reset()

env.close()